/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a:visited{
  color: #387E96
}
a:hover{
  color: #76D3F1;
  background-color: transparent;
}
a{
  color: #8CA5AD;
  text-decoration: none;
}
body{
  font-family: 'Merriweather', serif !important;
  font-size: 120%;
  width: 100%
}
#wrapper{
  position:absolute;
}
#error_explanation{
  border: 2px solid #add8e6;
  display: inline-block;
}

#error_explanation h2{
  background-color: #9BC2CF;
  color: black;
}

#error_explanation ul{
  list-style: none;
}

.field_with_errors{
  background-color: #fff;
  display: inline-block;
}

nav{
  float: right;
  margin-right: 40px;
  padding-bottom: 10px;
  text-align: right;
  width: 97%;
}

header {
  clear: right;
}

#login{
  float: left;
  padding-left: 20px;
}

th{
  padding: 5px;
}

#wrapper{
  padding-top: 10px;
  position: relative;
  text-align: center;
}

#wrapper h1{
  text-align: center;
}


