// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  position:absolute;
}
.field label { 
  display: inline-block;
  font-size: 100%;
  text-align: right;
  width: 15%; 
}

#address_header{
  font-size: large;
  font-weight: bold;
  background-color: #add8e6;
  padding-top: 5px;
  padding-bottom: 5px;  
}

#text_fields {
}

#property_state{
  width: 10%;
}

table{
  border: 1px solid black;
  text-align: left;
  width: 97%;
}

th{
  background-color: #add8e6;
  color: #111517;
}

.notice {
  color:red;
}