// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ratings{
  position: relative;
  float:left;
  
  margin-bottom:5px;
}
#review{
  position: relative;
  float:left;
}
#submit{
  position:relative;
  top: 100px;
}

#reviews .field label { 
  display: inline-block;
  text-align: right;
  width: 100px; 
}

#review_fields {
  position:absolute;
  left:450px;
  width:400px;

}
#reviews a{
  display:none;
}
.rating_star{
  background: url('star_off.png');
  height:50px;
  width:50px;
  display:inline-block;
  left: 45px;
  position:relative;
  top:-40px;
}

.on{
  background: url('star_on.png');
  height:50px;
  width:50px;
  display:inline-block;
}
