// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#address_header{
  display: block;
  position: absolute;
  float: left;
  width: 33%;
  top: 50px;
  bottom: 0;
  border-right: 1px solid black;
  font-size: 150%;
  line-height: 150%;
}

#ratings{
  position: relative;
  float:left;
  margin-bottom:5px;
}
#review{
  position: relative;
  float:left;
}

#review_content{
  position: absolute;
  width: 66%;
  left: 33%;
}

#submit{
  position:relative;
  top: 100px;
}

#review_fields {
  position: absolute;
  left: 33%;

}

#ratings{
  right: 30px;
}

#review_rating{
  position: relative;
  left: 45%;
}

#review{
  right: 30px;
}

#review textarea{
  position: relative;
  left: 12%;
}

#reviews a{
  display:none;
}
.rating_star{
  background: url('star_off.png');
  height:50px;
  width:50px;
  display:inline-block;
  left: 45px;
  position:relative;
  top:-40px;
}

.on{
  background: url('star_on.png');
  height:50px;
  width:50px;
  display:inline-block;
}
