<p>
  <b>Rating:</b>
  <% (1 .. review.rating).each do%>  
  <%= image_tag("star_on.png", :alt => "gold star", :class => "star") %>
  <%end%>
</p>
 
<p>
  <b>Explanation:</b>
  <%= review.explanation %>
</p>

Posted <%= time_ago_in_words(review.created_at) %> ago<br>

<p>
   <%= link_to 'comments', property_review_path(@property, review) %>
</p>

<hr>
